.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github
docs
!media/docs
generate_docs.js
generate_ts.js
gulpfile.js
media/javascript_api.json
media-src