
body {
    background: #1e1e1e;
    color: #eeeeee;
}

.text-center {
    text-align: center;
}

button {
    background: #303030;
    border: 1px solid #000000;
    color: #eeeeee;
    padding: 4px 8px;
    outline: none;
    border-radius: 100000px;

    &:hover {
        border: 1px solid #555555;
    }

    &.danger {
        color: #e9b6b6;
        border: 1px solid #941515;

        &:hover {
            border: 1px solid #d44d4d;
        }
    }
}

.invisible {
    display: none !important;
}

.table {
    border-collapse: collapse;

    tr {
        td,th {
            padding: 5px;
            border: 1px solid #353535;
        }

        th {
            background: #232323;
        }

        &:hover {
            background: #232323;
        }

        &:not(:last-child) {
            td,th {
                border-bottom-width: 0;
            }
        }
    }
}

input[type="text"] {
    background: #303030;
    border: 1px solid #000000;
    color: #eeeeee;
    padding: 5px 4px;
    width: 200px;
    
    &:focus {
        outline-style: dashed;
        outline-color: #374b37;
        outline-width: 1px;
    }

    &.error:focus {
        outline-color: #8f1c1c;
    }
}

input[type="checkbox"] {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;

    & + label {
        padding-left:20px;
        height:15px; 
        display:inline-block;
        line-height:15px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:15px;
        vertical-align:middle;
        cursor:pointer;
        background-image:url("./checkbox.png");
    }

    &:checked + label {
        background-position: 0 -15px;
    }
}


select {
    background: #252525;
    border: 1px solid #000000;
    color: #eeeeee;
    padding: 3px;
}

.group-title {
    color: #24afff;
    font-size: 20px;
    margin: 5px 0px;
}