
:root {
    --panel-border-radius: 3px;
    --base-gap: 10px;
}

body {
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vsocde-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

.code-block {
    font-family: var(--vsocde-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

code {
    background: var(--vscode-textCodeBlock-background);
    font-family: var(--vsocde-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    border-radius: 3px;
    padding: 1px 4px;
}