@import "./common";

.SoundEventsEditor {
    .btn {
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        user-select: none;
    
        &:hover {
            background: #1f71b4;
        }
        &:active {
            background: #175385;
        }
    }
    
    .table {
        margin-top: 15px;
        width: 100%;
        // box-sizing: border-box;
        tr td {
            padding: 0;
        }
    
        ul {
            padding-left: 20px;
            margin: 5px 0px;
        }
    
        .event-name {
            display: inline;
            color: #59c0fc;
        }
        .btn {
            &.submit {
                display: none;
            }
        }
        input[type="text"] {
            // display: none;
            width: 100%;
            box-sizing: border-box;
            padding: 7px 8px;
            margin: 0;
            background: none;
            border: none;

            &:focus {
                background: #202020;
            }
    
            &.add-sound-file {
                margin-top: 5px;
                display: inline-block;
                width: 400px;
            }
    
            &.add-sound-key {
                display: inline-block;
                & + .btn.submit {
                    display: inline-block;
                }
            }
    
            &.change-key-value {
                display: inline-block;
    
                & + .btn.submit {
                    display: inline-block;
                }
            }
        }
    
        .editing {
            .event-name {
                display: none;
            }
            .btn {
                &.edit {
                    display: none;
                }
                &.submit {
                    display: inline-block;
                }
            }
            input[type="text"] {
                display: inline-block;
            }
        }
    }
    
    .short-head {
        width: 80px;
    }
    
    #suggestion-page {
        position: absolute;
        left: 0;
        top: 0;
        user-select: none;
    
        .menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            background: #404040;
            border: 1px solid #000000;
            border-top: none;
    
            .menu-item {
                padding: 3px 4px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
    
                &:hover {
                    background: #1f71b4;
                }
            }
        }
    }
}