@import './atom-one-dark.css';
@import './markdown.css';

.markdown-body img[alt='box'] {
    height: 128px;
    border: 2px solid #101010;
    margin: 3px;
    position: relative;
    transition-property: transform;
    transition-duration: 0.12s;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
.markdown-body img[alt='box']:hover {
    transform: scaleX(1.1) scaleY(1.1);
    z-index: 100;
    border: 2px solid #ffffff;
}

.markdown-body img[alt='box-static'] {
    height: 128px;
    margin: 3px 0px;
    position: relative;
    background: transparent;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

#category {
    display: flex;
    flex-direction: row;
}

#category input {
    vertical-align: middle;
    outline: none;
}

#category label {
    vertical-align: middle;
}

#docs-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 25px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

#docs-files {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 10px;
    border: 1px solid #353535;
    overflow-y: auto;
    overflow-x: hidden;
}

#docs-files > div {
    padding: 5px 8px;
    cursor: pointer;
    user-select: none;
}

#docs-files > div:hover {
    background-color: #303030;
}

#docs-files > div.selected {
    background-color: #04467c;
}

#docs-content {
    flex-grow: 1;
    border: 1px solid #353535;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    margin-top: 30px;
    font-size: 14px;
    width: 100px;
    height: 20px;
    background-color: #101010;
    padding: 3px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    min-width: 100px;
}

#navigation .title {
    text-align: center;
}

#navigation-body {
    visibility: collapse;
}

#navigation:hover {
    width: auto;
    height: auto;
    max-height: 90%;
    overflow: auto;
}

#navigation:hover #navigation-body {
    visibility: visible;
}

#navigation .nav-h1,
#navigation .nav-h2 {
    height: 18px;
    padding: 2px;
}

#navigation .nav-h2 {
    margin-left: 16px;
}

#navigation .nav-h1:hover,
#navigation .nav-h2:hover {
    background-color: #04467c;
}

#lightbox {
    position: fixed;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    user-select: none;
}

#lightbox.show {
    display: flex;
}

#lightbox #left-arrow {
    flex-shrink: 0;
    width: 128px;
    height: 128px;
    background-image: url('./down_arrow.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transform: rotateZ(90deg);
    cursor: pointer;
    margin: 0px 5px;
}
#lightbox #right-arrow {
    width: 128px;
    height: 128px;
    flex-shrink: 1;
    background-image: url('./down_arrow.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transform: rotateZ(-90deg);
    cursor: pointer;
    margin: 0px 5px;
}
#lightbox #img-container {
    flex-grow: 1;
    text-align: center;
    pointer-events: none;
}
